In [1]:
import pandas as pd
import os 
import pymupdf as pdf
import regex as re

In [2]:
carpeta_pdfs = r'c:\Users\jaret\Desktop\Portafolio\Python\Extraer_datos\PDFs'
base_splits = []
for archivo in os.listdir(carpeta_pdfs):
    if archivo.endswith(".pdf"):
        ruta_pdf = os.path.join(carpeta_pdfs, archivo)
        doc = pdf.open(ruta_pdf)
        texto_completo = ""
        for pagina in doc:
            texto_completo += pagina.get_text()
        for line in texto_completo.splitlines():
            number = None
            n_emp = None
            if re.search('^D.*:', line):
                date = line.split(':')
                date = date[1]
            if not line.startswith('Phone:'):
                continue
            number = line.split(':')
            name_arch  = re.match(r'^([A-Z][a-z]+)+', archivo)
            name_arch = name_arch.group()
            base_splits.append({'Type': number[0].strip(), 
                                'Contact': number[1].strip(), 
                                'Archivo': archivo.strip(), 
                                'Empresa': name_arch.strip(), 
                                'Date': date})
            print(number)

['Phone', ' 51 1 213 0300']
['Phone', ' 51 1 708 5900']
['Phone', ' 972-940-6000']
['Phone', ' 34 91 581 23 18']
['Phone', ' 51 1518 4000']

In [3]:
base_splits

[{'Type': 'Phone',
  'Contact': '51 1 213 0300',
  'Archivo': 'AenzaSAABVLAENZAC1_PublicCompany.pdf',
  'Empresa': 'Aenza',
  'Date': ' Jun-30-2025'},
 {'Type': 'Phone',
  'Contact': '51 1 708 5900',
  'Archivo': 'AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf',
  'Empresa': 'AustralGroup',
  'Date': ' Jun-09-2025'},
 {'Type': 'Phone',
  'Contact': '972-940-6000',
  'Archivo': 'ExxonMobilCorporationNYSEXOM_PublicCompany.pdf',
  'Empresa': 'ExxonMobilCorporation',
  'Date': ' Jun-12-2025'},
 {'Type': 'Phone',
  'Contact': '34 91 581 23 18',
  'Archivo': 'MapfreSABMEMAP_PublicCompany.pdf',
  'Empresa': 'Mapfre',
  'Date': ' Jun-10-2025'},
 {'Type': 'Phone',
  'Contact': '51 1518 4000',
  'Archivo': 'PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC1_PublicCompany.pdf',
  'Empresa': 'Pac',
  'Date': ' Jun-30-2025'}]

In [4]:
df_contact = pd.DataFrame(base_splits)
df_contact['Date'] = pd.to_datetime(df_contact['Date'])
df_contact

,Type,Contact,Archivo,Empresa,Date
0,Phone,51 1 213 0300,AenzaSAABVLAENZAC1_PublicCompany.pdf,Aenza,2025-06-30
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
2,Phone,972-940-6000,ExxonMobilCorporationNYSEXOM_PublicCompany.pdf,ExxonMobilCorporation,2025-06-12
3,Phone,34 91 581 23 18,MapfreSABMEMAP_PublicCompany.pdf,Mapfre,2025-06-10
4,Phone,51 1518 4000,PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...,Pac,2025-06-30

In [5]:
df_iloc = df_contact.iloc[1:3, 3:4]
df_iloc

                 Empresa
1           AustralGroup
2  ExxonMobilCorporation

In [6]:
df_loc = df_contact.loc[2:, 'Type':'Archivo']
df_loc

    Type          Contact                                            Archivo
2  Phone     972-940-6000     ExxonMobilCorporationNYSEXOM_PublicCompany.pdf
3  Phone  34 91 581 23 18                   MapfreSABMEMAP_PublicCompany.pdf
4  Phone     51 1518 4000  PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...

In [7]:
df_loc = df_contact.loc[2:, 'Type':'Archivo']
df_loc

    Type          Contact                                            Archivo
2  Phone     972-940-6000     ExxonMobilCorporationNYSEXOM_PublicCompany.pdf
3  Phone  34 91 581 23 18                   MapfreSABMEMAP_PublicCompany.pdf
4  Phone     51 1518 4000  PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...

In [ ]:
import pandas as pd
import os 
import pymupdf as pdf
import regex as re

In [ ]:
carpeta_pdfs = r'c:\Users\jaret\Desktop\Portafolio\Python\Extraer_datos\PDFs'
base_splits = []
for archivo in os.listdir(carpeta_pdfs):
    if archivo.endswith(".pdf"):
        ruta_pdf = os.path.join(carpeta_pdfs, archivo)
        doc = pdf.open(ruta_pdf)
        texto_completo = ""
        for pagina in doc:
            texto_completo += pagina.get_text()
        for line in texto_completo.splitlines():
            number = None
            n_emp = None
            if re.search('^D.*:', line):
                date = line.split(':')
                date = date[1]
            if not line.startswith('Phone:'):
                continue
            number = line.split(':')
            name_arch  = re.match(r'^([A-Z][a-z]+)+', archivo)
            name_arch = name_arch.group()
            base_splits.append({'Type': number[0].strip(), 
                                'Contact': number[1].strip(), 
                                'Archivo': archivo.strip(), 
                                'Empresa': name_arch.strip(), 
                                'Date': date})
            print(number)

['Phone', ' 51 1 213 0300']
['Phone', ' 51 1 708 5900']
['Phone', ' 972-940-6000']
['Phone', ' 34 91 581 23 18']
['Phone', ' 51 1518 4000']

In [ ]:
base_splits

[{'Type': 'Phone',
  'Contact': '51 1 213 0300',
  'Archivo': 'AenzaSAABVLAENZAC1_PublicCompany.pdf',
  'Empresa': 'Aenza',
  'Date': ' Jun-30-2025'},
 {'Type': 'Phone',
  'Contact': '51 1 708 5900',
  'Archivo': 'AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf',
  'Empresa': 'AustralGroup',
  'Date': ' Jun-09-2025'},
 {'Type': 'Phone',
  'Contact': '972-940-6000',
  'Archivo': 'ExxonMobilCorporationNYSEXOM_PublicCompany.pdf',
  'Empresa': 'ExxonMobilCorporation',
  'Date': ' Jun-12-2025'},
 {'Type': 'Phone',
  'Contact': '34 91 581 23 18',
  'Archivo': 'MapfreSABMEMAP_PublicCompany.pdf',
  'Empresa': 'Mapfre',
  'Date': ' Jun-10-2025'},
 {'Type': 'Phone',
  'Contact': '51 1518 4000',
  'Archivo': 'PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC1_PublicCompany.pdf',
  'Empresa': 'Pac',
  'Date': ' Jun-30-2025'}]

In [ ]:
df_contact = pd.DataFrame(base_splits)
df_contact['Date'] = pd.to_datetime(df_contact['Date'])
df_contact

,Type,Contact,Archivo,Empresa,Date
0,Phone,51 1 213 0300,AenzaSAABVLAENZAC1_PublicCompany.pdf,Aenza,2025-06-30
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
2,Phone,972-940-6000,ExxonMobilCorporationNYSEXOM_PublicCompany.pdf,ExxonMobilCorporation,2025-06-12
3,Phone,34 91 581 23 18,MapfreSABMEMAP_PublicCompany.pdf,Mapfre,2025-06-10
4,Phone,51 1518 4000,PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...,Pac,2025-06-30

In [ ]:
df_iloc = df_contact.iloc[1:3, 3:4]
df_iloc

                 Empresa
1           AustralGroup
2  ExxonMobilCorporation

In [ ]:
df_loc = df_contact.loc[2:, 'Type':'Archivo']
df_loc

    Type          Contact                                            Archivo
2  Phone     972-940-6000     ExxonMobilCorporationNYSEXOM_PublicCompany.pdf
3  Phone  34 91 581 23 18                   MapfreSABMEMAP_PublicCompany.pdf
4  Phone     51 1518 4000  PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...

In [ ]:
df_loc = df_contact.loc[2:, 'Type':'Archivo']
df_loc

    Type          Contact                                            Archivo
2  Phone     972-940-6000     ExxonMobilCorporationNYSEXOM_PublicCompany.pdf
3  Phone  34 91 581 23 18                   MapfreSABMEMAP_PublicCompany.pdf
4  Phone     51 1518 4000  PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...

In [9]:
df_contact.sort_values(by='Date', ascending=True)

,Type,Contact,Archivo,Empresa,Date
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
3,Phone,34 91 581 23 18,MapfreSABMEMAP_PublicCompany.pdf,Mapfre,2025-06-10
2,Phone,972-940-6000,ExxonMobilCorporationNYSEXOM_PublicCompany.pdf,ExxonMobilCorporation,2025-06-12
0,Phone,51 1 213 0300,AenzaSAABVLAENZAC1_PublicCompany.pdf,Aenza,2025-06-30
4,Phone,51 1518 4000,PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...,Pac,2025-06-30

In [ ]:
df_contact[df_contact['Contact'] == df_contact['Contact'].isin]

In [15]:
df_contact[df_contact['Date'].isin(['2025-06-09','2025-06-10'])]

C:\Users\jaret\AppData\Local\Temp\ipykernel_66908\1782435200.py:1: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df_contact[df_contact['Date'].isin(['2025-06-09','2025-06-10'])]

,Type,Contact,Archivo,Empresa,Date
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
3,Phone,34 91 581 23 18,MapfreSABMEMAP_PublicCompany.pdf,Mapfre,2025-06-10

In [14]:
df_contact[
    (df_contact['Date'] >= '2025-05-30') &
    (df_contact['Date'] <= '2025-06-10')
]

,Type,Contact,Archivo,Empresa,Date
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
3,Phone,34 91 581 23 18,MapfreSABMEMAP_PublicCompany.pdf,Mapfre,2025-06-10

In [16]:
df_contact[df_contact['Contact'].str.startswith('51')]

,Type,Contact,Archivo,Empresa,Date
0,Phone,51 1 213 0300,AenzaSAABVLAENZAC1_PublicCompany.pdf,Aenza,2025-06-30
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
4,Phone,51 1518 4000,PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...,Pac,2025-06-30

In [20]:
df_contact[df_contact['Contact'].str.startswith('51') & df_contact['Archivo'].str.endswith('.pdf')]

,Type,Contact,Archivo,Empresa,Date
0,Phone,51 1 213 0300,AenzaSAABVLAENZAC1_PublicCompany.pdf,Aenza,2025-06-30
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
4,Phone,51 1518 4000,PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...,Pac,2025-06-30

In [19]:
df_contact[df_contact['Contact'].str[:2] == '51']

,Type,Contact,Archivo,Empresa,Date
0,Phone,51 1 213 0300,AenzaSAABVLAENZAC1_PublicCompany.pdf,Aenza,2025-06-30
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
4,Phone,51 1518 4000,PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...,Pac,2025-06-30

In [21]:
df_contact[
    df_contact['Contact'].str.contains(r'^51', regex=True) &
    df_contact['Archivo'].str.contains(r'\.pdf$', regex=True)
]

,Type,Contact,Archivo,Empresa,Date
0,Phone,51 1 213 0300,AenzaSAABVLAENZAC1_PublicCompany.pdf,Aenza,2025-06-30
1,Phone,51 1 708 5900,AustralGroupSAABVLAUSTRAC1_PublicCompany (1).pdf,AustralGroup,2025-06-09
4,Phone,51 1518 4000,PacíficoCompañíadeSegurosyReasegurosBVLPACIFIC...,Pac,2025-06-30

Código	Significado

200	✅ OK – Todo salió bien.

400	❌ Bad Request – Error en tu solicitud.

401	❌ Unauthorized – No tienes acceso (falta token).

403	❌ Forbidden – Prohibido.

404	❌ Not Found – La URL no existe.

500	❌ Server Error – Fallo en el servidor.

In [29]:
import requests
import pandas as pd

url = "https://api.exchangerate-api.com/v4/latest/USD"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
    rates = data["rates"]
    
    df = pd.DataFrame(rates.items(), columns=["Moneda", "Tasa"])
    print(df)
else:
    print(f"Error {response.status_code}")

    Moneda    Tasa
0      USD    1.00
1      AED    3.67
2      AFN   70.20
3      ALL   83.70
4      AMD  384.46
..     ...     ...
158    XPF  101.49
159    YER  242.38
160    ZAR   17.74
161    ZMW   23.79
162    ZWL   26.95

[163 rows x 2 columns]